<p style="color: green"><%= notice %></p>

<%= render @mark %>
<div>
  <%= link_to "Back to marks", [@student, :marks] %>
  <%= button_to "Delete this mark", [@student, @mark], method: :delete %>
</div>
