<h1>Editing library ticket</h1>

<%= render "form", library_ticket: @library_ticket %>

<br>

<div>
  <%= link_to "Show this library ticket", @library_ticket %> |
  <%= link_to "Back to library tickets", library_tickets_path %>
</div>
